.generic-content-container{
  /*element under it*/
  p {
    font-weight: 300;
    line-height: 1.5; /* 1.5 is ok do not need to specify rem or any*/
    font-size: 90%;
    margin: 0 0 1.25rem 0;/*top, right,bottom, left*/
    a {
      font-weight: 700;
    }
    @mixin smallScreen{
      font-size: 110%;
    }
  }
}
