/* underscode : partial file */
.large-hero {

    position: relative;
    border-bottom: .625rem solid $mainBlue ;

    &__text-content {
      /*this will move the elm to middle */
      padding-top: 10%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      /*end this will move the elm to middle */
      left: 0%;
      width: 100%;
      text-align: center;
      @mixin smallScreen{
        padding-top: 8%;
      }

    }
    /*default display image inline element*/
    &__image {
      display: block;
    }
    &__title{
      color : $mainBlue ;
      font-size: 2.4rem ;
      font-weight: 300 ;
      margin: 0;
      @mixin smallScreen{
        font-size: 3rem ;
      }
      @mixin mediumScreen{
        font-size: 4rem ;
      }
      @mixin largeScreen{
        font-size: 4.4rem ;
      }
      @mixin extraLargeScreen{
        font-size: 4.8rem ;
      }
    }
    &__subtitle{
      color : $mainBlue ;
      font-size: 1.5rem ;
      font-weight: 300 ; /*400 is default*/
      margin: 0;
      @mixin smallScreen{
        font-size: 1.8rem ;
      }
      @mixin mediumScreen{
        font-size: 1.3rem ;
      }
      @mixin largeScreen{
        font-size: 2.6rem ;
      }
      @mixin extraLargeScreen{
        font-size: 2.9rem ;
      }
    }
    &__description{
      color : white ;
      font-size: 1.125rem ;
      font-weight: 100 ; /*400 is default*/
      /*   text-align: center; does not work*/
      /* use margin-left and right auto   */
      margin-left: auto ;
      margin-right: auto ;
      max-width: 30rem ;
      text-shadow: .125rem .125rem 0 rgba(0,0,0, .1);
      @mixin smallScreen{
        font-size: 1.1rem ;
      }
      @mixin mediumScreen{
        font-size: 1.25rem ;
      }
      @mixin largeScreen{
        font-size: 1.5rem ;
      }
      @mixin extraLargeScreen{
        font-size: 1.875rem ;
      }

    }
}
