.page-section{
  @mixin smallScreen{
    padding: 2.5rem 0 ;
  }
  @mixin mediumScreen{
    padding: 3.5rem 0 ;
  }
  @mixin largeScreen{
    padding: 4.5rem 0 ;
  }
  padding: 1.25rem 0 ;
  &--blue {
    background-color: $mainBlue ;
    color: $mainWhite ;
  }


}
