.row {
  @mixin clearfix ;

  &__b-margin-until-small{
    margin-bottom: 1.5rem ;
  }
  &--t-padding{
    padding-top: 80px;
  }
  .flexbox &--equal-height-at-medium{
    @mixin mediumScreen{
      display: flex;
    }
    & > * {
      float: none;
      display: flex ;
    }

  }
  @mixin smallScreen{
  @mixin mediumScreen{
    margin-bottom:  0 ;

    /*select all direct children use '>'*/
    &--gutters {
      padding-right: -5%;
      }
    &--gutters > div {
        padding-right: 5%;
        /* move   box-sizing: border-box; to global *{}*/
        /*box-sizing: border-box;*/
      }


    &--gutters-larger{
      padding-right: -15%;
      }
    &--gutters-larger > * {
        padding-right: 15%;
        /* move   box-sizing: border-box; to global *{}*/
        /*box-sizing: border-box;*/
      }
    &__medium-4{
      float: left;
      width: 33.33% ;

    }
    &__medium-4-larger{
      width: 37% ;
    }

    &__medium-6{
      float: left;
      width: 50% ;
    }

    &__medium-8{
      float: left;
      width: 66.66% ;
    }
    &__medium-8-smaller{
      width: 63% ;
    }

  }
}

}
